<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">{{title}}</a>
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="img/menu-bg.jpg">
                    </div>
                </div>
            </li>
            <li><a href="/" class="waves-effect"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/bookmark" class="waves-effect"><i class="fa fa-bookmark"></i> Bookmarked</a></li>
            <li><a href="/flag" class="waves-effect"><i class="fa fa-flag"></i> Flagged</a></li>
            <li><a onclick="close()" class="close-panel"><i class="fa fa-close"></i> Close</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="fa fa-navicon"></i></a>
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#page1">Crucible Chronicles</a></li>
            <li class="tab"><a href="#page2">India Business Quiz</a></li>
        </ul>
    </div>
</nav>